.color {
   

  z-index: 50000000000000000000;
  position: fixed;
  top: 150px;
  right: -157.167px;
}
.color_box {
  background-color: blueviolet;

  padding: 10px;
}
.color_item {
  z-index: 500000000000000000000;
  background-color: rgb(15, 15, 15);
  display: inline-block;
  width: 30px;
  height: 30px;
  padding: 5px;
}


.one {
  background-image: url(../img/events-heavenly-header.jpg);
  background-position: bottom;
  background-size: cover;
  height: 90vh;
  position: relative;
}
.home {
  background-color: rgba(214, 46, 51, 0.4);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}
.leftBar {
  margin-left: -80%;
  z-index: 1;
  background-color: rgb(65, 70, 88);
  height: 100%;
  padding: 50px;

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
}
#close {
  background: transparent;
  position: absolute;
  top: 5px;
  right: 5px;
}

#close:hover {
  color: rgba(214, 46, 51, 0.6);
}
.leftBar ul li {
  list-style-type: none;
  padding: 20px;
}
.leftBar ul li a {
  text-decoration: none;
  color: white;
}
.leftBar ul li a:hover {
  color: rgba(214, 46, 51, 0.6);
}
.icone {
  display: block;
  z-index: 2;
  cursor: pointer;
}
.w-50 {
  background-color: rgba(214, 46, 51, 0.6);
}
.w-50 h4 {
  cursor: pointer;
}
.myPar {
  display: none;
}
.three {
  background-image: url(../img/invitation-2508607__340.jpg);
  height: 50vh;
  background-position: center;
  background-size: 100% 100%;
  width: 100%;

  position: relative;
}
.red {
  background-color: rgba(214, 46, 51, 0.4);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}
.time {
  border: 2px solid white;
  padding: 60px;
  font-size: 30px;
  color: white;
}
.fab {
  padding: 10px;
  border: 2px solid rgb(14, 13, 13);
}
.fab:hover {
  background-color: red;
  color: white;
}
.mess {
  height: 214px;
}
